//FOOTER
footer.footer
  .container
    .footer-content
      .footer-left
        a.logo.logo--footer(href="#") <span class="logo--span">AI.</span>MAN
        p.footer-left__text Better data leads to more performance models. Performant models lead to faster deployment.
      .footer-right
        ul.list-navigation.list-navigation--footer
          li.list-navigation__item
            a.list-navigation__link.list-navigation__link--footer(href="#") PRODUCTS 
          li.list-navigation__item
            a.list-navigation__link.list-navigation__link--footer(href="#") SOLUTIONS
          li.list-navigation__item
            a.list-navigation__link.list-navigation__link--footer(href="#") CUSTOMER
          li.list-navigation__item
            a.list-navigation__link.list-navigation__link--footer(href="#") PRICING
          li.list-navigation__item
            a.list-navigation__link.list-navigation__link--footer(href="#") RESOURCES
        .footer-right__bottom
          p.footer-right__text &#169;2022 AI-MAN. All RIGHT RESERVED
          .footer-right__links
            a.footer-right__link(href="#") TERMS AND CONDITIONS
            a.footer-right__link(href="#") PRIVACY POLICY
