//HEADER
header.header
  .container
    .header-content
      a.logo(href="#") <span class="logo--span">AI.</span>MAN
      ul.list
        li.list__item
          a.list__link(href="#") PRODUCTS 
        li.list__item
          a.list__link(href="#") SOLUTIONS
        li.list__item
          a.list__link(href="#") CUSTOMER
        li.list__item
          a.list__link(href="#") PRICING
        li.list__item
          a.list__link(href="#") RESOURCES
      button.btn.header-content__btn(type="button" data-modal-open) REGISTER NOW
        svg.header-content__svg(width="23" height="23")
          use(href="")
        
          
  

  
