//HEADER
header.header
  .container
    .header-content
      a.logo.logo--header(href="#") <span class="logo--span">AI.</span>MAN
      button.header-menu-btn(type="button" data-menu-btn)
        span.header-menu-btn__span
      .header-menu(data-menu)
        ul.list-navigation.list-navigation--header
          li.list-navigation__item
            a.list-navigation__link(href="#") PRODUCTS 
          li.list-navigation__item
            a.list-navigation__link(href="#") SOLUTIONS
          li.list-navigation__item
            a.list-navigation__link(href="#") CUSTOMER
          li.list-navigation__item
            a.list-navigation__link(href="#") PRICING
          li.list-navigation__item
            a.list-navigation__link(href="#") RESOURCES
        button.btn.header-content__btn(type="button" data-modal-open) REGISTER NOW
          svg.header-content__svg(width="23" height="23")
           use(href="img/icons/icons.svg#header-arrow-up")
        
          
  

  
