.hero {
  padding-bottom: 258px;

  @include tablet {
    padding-bottom: 180px;
  }

  @include mobile {
    padding-bottom: 100px;
  }

  &__title {
    font-family: $font-raleway;
    font-weight: 800;
    font-size: 120px;
    line-height: 1.17;
    margin-bottom: 64px;
    letter-spacing: 1px;

    background: linear-gradient(
      90.01deg,
      #ffffff 0.01%,
      rgba(255, 255, 255, 0.3) 49.48%,
      #ffffff 99.99%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &--span {
      background: $before-line;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include desktop-min {
      font-size: 79px;
    }

    @include tablet {
      text-align: center;
    }

    @include mobile {
      font-size: 80px;
      text-align: center;
    }
  }
}

.hero-content {
  position: relative;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }

  &__img {
    position: absolute;

    &--center {
      width: 459px;
      right: 470px;
      top: 150px;

      @include desktop-min {
        z-index: -1;
        opacity: 0.2;
      }
    }

    &--left {
      width: 1190px;
      top: 150px;
      right: 220px;
      z-index: -1;
    }

    &--left-light {
      width: 751px;
      top: 150px;
      right: 220px;
      z-index: -1;
    }
  }
}

.hero-top {
  padding-top: 114px;
}

.hero-bottom {
  display: flex;
  align-items: flex-start;
  gap: 444px;

  @include desktop-min {
    gap: 100px;
  }

  @include tablet {
    gap: 100px;
    flex-direction: column;
    align-items: center;
  }

  @include mobile {
    gap: 100px;
    flex-direction: column;
  }
}

.hero-left {
  display: flex;
  align-items: center;
  gap: 27px;

  @include mobile {
    flex-direction: column;
    margin: 0 auto;
  }

  &__box {
    position: relative;
    width: 202px;
    height: 160px;
  }

  &__content {
    position: absolute;
    width: 202px;
    height: 160px;
    border-radius: 32px;
    border: 1px solid rgb(204, 204, 204, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;

    &--shadow-left::before,
    &--shadow-right::after {
      position: absolute;
      content: "";
      top: 0;
      left: -1;
      width: 100px;
      height: 100%;
      z-index: -1;
    }

    &--shadow-left::before {
      background: linear-gradient(
        90deg,
        rgba(25, 25, 25) 0%,
        rgba(25, 25, 25, 0.2) 100%
      );
    }

    &--shadow-right::after {
      left: 66%;
      transform: rotate(180deg);
      background: linear-gradient(
        90deg,
        rgba(25, 25, 25) 0%,
        rgba(25, 25, 25, 0.2) 100%
      );
    }

    &--shadow-left {
      padding: 30px 60px 30px 30px;
    }

    &--shadow-right {
      padding: 30px 0 30px 30px;
      width: 231px;
    }
  }

  &__span {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 12px;

    color: $white;
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 2;

    color: $white-opacity;
  }
}

.hero-right {
  max-width: 400px;

  @include desktop-min {
    margin-left: auto;
  }

  @include mobile {
    margin: 0 auto;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 2;
    letter-spacing: -0.03em;
    margin-bottom: 48px;

    color: $white-opacity;
  }

  &__btn {
    position: relative;
    display: block;

    &--start {
      margin-bottom: 36px;
      color: $main-bg;
      background-color: $white;
    }

    &--sale {
      margin-left: auto;
      border-radius: 120px;
      border: 1px solid rgb(204, 204, 204, 0.2);

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: -1;
        width: 80px;
        height: 100%;

        background: linear-gradient(
          90deg,
          rgba(25, 25, 25) 0%,
          rgba(25, 25, 25, 0.2) 100%
        );
      }
    }
  }
}
