.review {
  padding-bottom: 180px;

  @include mobile {
    padding-bottom: 100px;
  }
}

.review-content {
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-bottom: 80px;

    @include mobile {
      font-size: 60px;
      margin-bottom: 60px;
    }
  }
}

.review-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  &__top {
    margin-bottom: 73px;

    @include mobile {
      margin-bottom: 200px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 48px;
    line-height: 2;

    color: $white-opacity;

    &--span {
      color: $white;
    }

    @include desktop-min {
      text-align: center;
    }

    @include tablet {
      text-align: center;
    }

    @include mobile {
      text-align: center;
    }
  }

  &__bottom {
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    margin: 0 auto;

    @include desktop-min {
      gap: 12px;
    }

    @include tablet {
      gap: 12px;
    }

    @include mobile {
      flex-direction: column;
      text-align: center;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 32px;
    line-height: 2;

    background: $before-line;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
      text-align: center;
      width: 200px;
    }
  }

  &__span {
    width: 64px;
    border: 2px solid $white;
  }

  &__info {
    font-weight: 500;
    font-size: 24px;
    line-height: 2;
    letter-spacing: -0.03em;

    color: $white;

    @include tablet {
      text-align: center;
      width: 200px;
    }
  }

  &__btn {
    @include mobile {
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      &--left {
        margin-left: -50px;
      }
      &--right {
        margin-left: 50px;
      }
    }
  }
}

.review-slider .slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  width: 120px;
  height: 60px;
  border: none;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms linear;

  color: white;
  background-color: transparent;

  @include tablet {
    bottom: 5%;
    width: 60px;
  }

  @include mobile {
    text-align: center;
    bottom: 17%;
  }

  &:hover,
  &:focus {
    &.slick-prev {
      color: black;
      background-color: rgba(255, 255, 255, 0.812);
    }

    &.slick-next {
      color: black;
      background-color: rgba(255, 255, 255, 0.812);
    }
  }

  &::before {
    font-size: 60px;
    content: "";
  }
}

.review-slider .slick-prev {
  left: 0;
  &::before {
    content: "\2190";
  }
}

.review-slider .slick-next {
  right: 0;
  &::before {
    content: "\2192";
  }
}
