.support {
  padding-bottom: 180px;
}

.support-content {
  &__title {
    text-align: center;
    margin-bottom: 90px;
  }
}

.support-top {
  margin-bottom: 84px;
}

.support-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  &__item {
    max-width: 240px;
  }

  &__link {
    transform: scale(0);
    transition: transform 250ms linear;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
  &__img {
    width: 240px;
  }
}
