$main-bg: #1a1a1a;

$white: #ffffff;
$white-opacity: rgb(255, 255, 255, 0.5);
$black: #000000;

$accent: rgba(167, 243, 6, 1);

$font-poppins: "Poppins", sans-serif;
$font-raleway: "Raleway", sans-serif;

$before-line: linear-gradient(307.72deg, #a7f306 2.04%, #f3cd06 98.59%), #ffffff;
