html 
  include html/head
  body 
    include html/header
    main
      //- //HERO
      section.hero
        
        .container
          .hero-content
            img.hero-content__img(src="img/hero.png", alt="img")
          .hero-top
            h1.hero__title FASTER DATA WITH <span class="hero__title--span">AI.</span>
          .hero-bottom
            .hero-left
              .hero-left__box.hero-left__box--shadow-left
                .hero-left__content.hero-left__content--shadow-left
                  span.hero-left__span 240+
                  p.hero-left__text PARTNERS
              .hero-left__box.hero-left__box--shadow-right
                .hero-left__content.hero-left__content--shadow-right
                  span.hero-left__span 92%
                  p.hero-left__text FASTER TECHNOLOGY
            .hero-right
              p.hero-right__text 
                | Better data leads to more performance models. 
                | Performant models lead to faster deployment.
              button.btn.hero-right__btn.hero-right__btn--start GET STARTED
              button.btn.hero-right__btn.hero-right__btn--sale TALK TO SALES
      //- //DISCOUNT
      section.discount
        .discount-content
          ul.discount-list
            li.discount-list__item
              img.discount-list__img(src="img/discount.png", alt="img")
              p.discount-list__text GET UP TO 20% DISCOUNT IF YOU REGISTER NOW
              //- li.discount-list__item
              //-   img.discount-list__img(src="img/discount.png", alt="img")
              //-   p.discount-list__text GET UP TO 20% DISCOUNT IF YOU REGISTER NOW
              //- li.discount-list__item
              //-   img.discount-list__img(src="img/discount.png", alt="img")
              //-   p.discount-list__text GET UP TO 20% DISCOUNT IF YOU REGISTER NOW
      //- //TECHNOLOGY
      section.techno
        .container
          .techno-content
            .techno-top
              h2.title.techno-top__title OUR TECHNOLOGIES
            ul.techno-list
              li.techno-list__item.current-line
                label.techno-list__label(for="radio1")
                  input.techno-list__input(type="radio" name="radio-btn" id="radio1" checked)
                  span.techno-list__text RILLCUY
              li.techno-list__item
                label.techno-list__label(for="radio2")
                  input.techno-list__input(type="radio" name="radio-btn" id="radio2")
                  span.techno-list__text TRUKAHH
              li.techno-list__item
                label.techno-list__label(for="radio3")
                  input.techno-list__input(type="radio" name="radio-btn" id="radio3")
                  span.techno-list__text ASELII
              li.techno-list__item
                label.techno-list__label(for="radio4")
                  input.techno-list__input(type="radio" name="radio-btn" id="radio4")
                  span.techno-list__text KOCKGMG
              li.techno-list__item
                label.techno-list__label(for="radio5")
                  input.techno-list__input(type="radio" name="radio-btn" id="radio5")
                  span.techno-list__text MDITURU
            .techno-bottom.is-visible
              .techno-bottom__left
                h3.techno-bottom__title RILLCUY <span class="techno-bottom__title--span">AI.</span>
                p.techno-bottom__text 
                  | Annotate large volumes of 3D sensor, image, and video data at high throughput. 
                  | ML-powered pre-labeling and an automated quality assurance system ensure high quality annotations.
                ul.techno-bottom-list
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Manage Your Datasets
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Automate Document Processing
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Scale Advanced Annotations
                button.btn.techno-bottom-list__btn
                  span.techno-bottom-list__span LEARN MORE
                  svg.techno-bottom-list__svg(width="32" height="32")
                    use(href="img/icons/icons.svg#techno-arrow")
              img.techno-bottom__img(src="img/techno-circle.png", alt="img")
            .techno-bottom
              .techno-bottom__left
                h3.techno-bottom__title TRUKAHH <span class="techno-bottom__title--span">AI.</span>
                p.techno-bottom__text 
                  | Annotate large volumes of 3D sensor, image, and video data at high throughput. 
                  | ML-powered pre-labeling and an automated quality assurance system ensure high quality annotations.
                ul.techno-bottom-list
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Manage Your Datasets
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Automate Document Processing
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Scale Advanced Annotations
                button.btn.techno-bottom-list__btn
                  span.techno-bottom-list__span LEARN MORE
                  span.techno-bottom-list__svg
                    svg(width="32" height="32")
                      use(href="img/icons/icons.svg#techno-arrow")
              img.techno-bottom__img(src="img/techno-circle.png", alt="img")
            .techno-bottom
              .techno-bottom__left
                h3.techno-bottom__title ASELII <span class="techno-bottom__title--span">AI.</span>
                p.techno-bottom__text 
                  | Annotate large volumes of 3D sensor, image, and video data at high throughput. 
                  | ML-powered pre-labeling and an automated quality assurance system ensure high quality annotations.
                ul.techno-bottom-list
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Manage Your Datasets
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Automate Document Processing
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Scale Advanced Annotations
                button.btn.techno-bottom-list__btn
                  span.techno-bottom-list__span LEARN MORE
                  span.techno-bottom-list__svg
                    svg(width="32" height="32")
                      use(href="img/icons/icons.svg#techno-arrow")
              img.techno-bottom__img(src="img/techno-circle.png", alt="img")
            .techno-bottom
              .techno-bottom__left
                h3.techno-bottom__title KOCKGMG <span class="techno-bottom__title--span">AI.</span>
                p.techno-bottom__text 
                  | Annotate large volumes of 3D sensor, image, and video data at high throughput. 
                  | ML-powered pre-labeling and an automated quality assurance system ensure high quality annotations.
                ul.techno-bottom-list
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Manage Your Datasets
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Automate Document Processing
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Scale Advanced Annotations
                button.btn.techno-bottom-list__btn
                  span.techno-bottom-list__span LEARN MORE
                  span.techno-bottom-list__svg
                    svg(width="32" height="32")
                      use(href="img/icons/icons.svg#techno-arrow")
              img.techno-bottom__img(src="img/techno-circle.png", alt="img")
            .techno-bottom
              .techno-bottom__left
                h3.techno-bottom__title MDITURU <span class="techno-bottom__title--span">AI.</span>
                p.techno-bottom__text 
                  | Annotate large volumes of 3D sensor, image, and video data at high throughput. 
                  | ML-powered pre-labeling and an automated quality assurance system ensure high quality annotations.
                ul.techno-bottom-list
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Manage Your Datasets
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Automate Document Processing
                  li.techno-bottom-list__item
                    .techno-bottom-list__left
                      svg.techno-bottom-list__svg(width="24" height="24")
                        use(href="img/icons/icons.svg#techno-ok")
                    p.techno-bottom-list__text Scale Advanced Annotations
                button.btn.techno-bottom-list__btn
                  span.techno-bottom-list__span LEARN MORE
                  span.techno-bottom-list__svg
                    svg(width="32" height="32")
                      use(href="img/icons/icons.svg#techno-arrow")
              img.techno-bottom__img(src="img/techno-circle.png", alt="img")
      //- //DEVELOP
      section.develop
        .container
          h2.title.develop__title THE DEVELOPMENT OF AI
          .develop-content
            .develop-content__left
              ul.develop-list.develop-list--top.develop-list--after
                li.develop-list__item
                  img.develop-list__img(src="img/develop-1.png", alt="img")
                  .develop-list__content
                    p.develop-list__name Annotate
                    p.develop-list__info Annotate large volumes of 3D sensor, image, and video data.
                  button.btn-arrow.develop-content__btn.develop-content__btn--top(type="button")
                    svg.develop-content__svg(width="82" height="82")
                      use(href="img/icons/icons.svg#develop-right")
                li.develop-list__item
                  img.develop-list__img(src="img/develop-2.png", alt="img")
                  .develop-list__content
                    p.develop-list__name Evaluate
                    p.develop-list__info Quickly choose what data to label with active learning.
                  button.btn-arrow.develop-content__btn.develop-content__btn--center(type="button")
                    svg.develop-content__svg.develop-content__svg--rotate(width="82" height="82")
                      use(href="img/icons/icons.svg#develop-right")  
                li.develop-list__item
                  img.develop-list__img(src="img/develop-3.png", alt="img")
                  .develop-list__content
                    p.develop-list__name Collect
                    p.develop-list__info Collect and generate, image representative device, video.
                  button.btn-arrow.develop-content__btn.develop-content__btn--bottom(type="button")
                    svg.develop-content__svg(width="82" height="82")
                      use(href="img/icons/icons.svg#develop-right")
            .develop-content__right
              ul.develop-list.develop-list--bottom.develop-list--before
                li.develop-list__item
                  img.develop-list__img(src="img/develop-4.png", alt="img")
                  .develop-list__content
                    p.develop-list__name Manage
                    p.develop-list__info Retrieve human insights for search relevance, ecommerce
                li.develop-list__item
                  img.develop-list__img(src="img/develop-5.png", alt="img")
                  .develop-list__content
                    p.develop-list__name Automate
                    p.develop-list__info Achieve robust document understanding and extraction .
                li.develop-list__item
                  img.develop-list__img(src="img/develop-6.png", alt="img")
                  .develop-list__content
                    p.develop-list__name Generate
                    p.develop-list__info Augment ground-truth training data with infinite varieties  
      //- //WE_SUPPORT
      section.we-support
        .container
          .we-support-content
            .we-support-content__top
              h2.title.we-support-content__title THINGS WE SUPPORT
            ul.we-support-list-carousel
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-1.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-2.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-3.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-4.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-1.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-3.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-4.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
              li.we-support-list-carousel__item
                a.we-support-list-carousel__link(href="#")
                  img.we-support-list-carousel__img.we-support-list-carousel__img(src="img/we-support-1.jpg", alt="img")
                  .we-support-list-carousel__content
                    p.we-support-list-carousel__text RETAIL AND THE E - COMMERCE
      //- //REVIEW
      section.review  
        .container
          .review-content
            h2.title.review-content__title WHAT THEY SAY
            .review-slider
              .review-slider__item
                .review-slider__top
                  p.review-slider__text <span class="review-top__text--span">It was easy to get started with AI-MAN</span> because they had the platform and the people with the skillset to perform the annotation tasks we needed.
                .review-slider__bottom
                  p.review-slider__name Anakin Dripwalker
                  span.review-slider__span
                  p.review-slider__info Chief Data Scient, AI Order
              .review-slider__item
                .review-slider__top
                  p.review-slider__text <span class="review-top__text--span">It was easy to get started with AI-MAN</span> because they had the platform and the people with the skillset to perform the annotation tasks we needed.
                .review-slider__bottom
                  p.review-slider__name Anakin Dripwalker
                  span.review-slider__span
                  p.review-slider__info Chief Data Scient, AI Order
      //- //OUR_SUPPORT
      section.our-support
        .container
            h2.title.our-support__title SUPPORTED BY
            .our-support-top
              ul.our-support-list-carousel
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-bottom
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-1.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-bottom
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-2.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-bottom
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-3.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-bottom
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-4.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-bottom
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-5.png") 
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-bottom
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-6.png")
                          
            .our-support-bottom
              ul.our-support-list-carousel.our-support-list-carousel--margin
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-top
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-7.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-top
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-8.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-top
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-9.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-top
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-10.png")
                li.our-support-list-carousel__item.our-support-list-carousel__item--shadow-top
                  a.our-support-list-carousel__link(href="#")
                    img.our-support-list-carousel__img(src="img/our-support-12.png")
                          
    include html/footer
    //BACKDROP_MODAL
    .backdrop.backdrop__is-hidden(data-modal="")
      .backdrop-modal
        form.modal-form(action="#" id="form")
          button.modal-form__close(data-modal-close="")
            span.modal-form__cross
          .modal-form__box
            label.modal-form__label(for="name") Name
              input.modal-form__input(type="text" name="name" id="name")
          .modal-form__box
            label.modal-form__label(for="tel") Telephone
              input.modal-form__input.modal-form__input-phone(type="tel" name="tel" id="tel")
          .modal-form__box
            label.modal-form__label(for="email") Email
              input.modal-form__input.modal-form__input-email(type="email" name="email" id="email")
          .modal-form__box
            label.modal-form__label(for="comment") Comment
              textarea.modal-form__comment(name="comment",  rows="6")
          button.btn.modal-form__btn(type="submit") Submit

    script(src="js/app.min.js")
 
      
   
   

    
