html 
  include html/head
  body 
    include html/header
    main
      //HERO
      section.support
        .container
          .support-content
            h2.title.support-content__title SUPPORTED BY
            .support-top
               ul.support-list
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support1.png", alt="support") 
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support2.png", alt="support") 
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support3.png", alt="support") 
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support4.png", alt="support") 
                //- li.support-list__item
                //-   a.support-list__link(href="#")
                //-     img.support-list__img(src="img/support5.png", alt="support") 
                //- li.support-list__item
                //-   a.support-list__link(href="#")
                //-     img.support-list__img(src="img/support6.png", alt="support") 
            .support-bottom
              ul.support-list
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support7.png", alt="support") 
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support8.png", alt="support") 
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support9.png", alt="support") 
                li.support-list__item
                  a.support-list__link(href="#")
                    img.support-list__img(src="img/support10.png", alt="support") 
                //- li.support-list__item
                //-   a.support-list__link(href="#")
                //-     img.support-list__img(src="img/support11.png", alt="support") 
                //- li.support-list__item
                //-   a.support-list__link(href="#")
                //-     img.support-list__img(src="img/support12.png", alt="support") 
              
    include html/footer
    script(src="js/app.min.js")

