html 
  include html/head
  body 
    include html/header
    main
      //WE_SUPPORT
      section.we-support
        .container
          .we-support-content
            .we-support-content__top
              h2.title THINGS WE SUPPORT
              .we-support-content__btns
                button.we-support-content__btn(type="button")
                  svg.we-support-content__svg.we-support-content__svg--left(width="75" height="75")
                    use(href="")
                button.we-support-content__btn.we-support-content__btn--right(type="button")
                  svg.we-support-content__svg.we-support-content__svg--right(width="75" height="75")
                    use(href="")  
            ul.we-support-list
              li.we-support-list__item
                a.we-support-list__link(href="#")
                img.we-support-list__img(src="img/we-support-1.jpg", alt="img")
                .we-support-list__content
                  p.we-support-list__text RETAIL AND THE E - COMMERCE
              li.we-support-list__item
                a.we-support-list__link(href="#")
                img.we-support-list__img(src="img/we-support-2.jpg", alt="img")
                .we-support-list__content
                  p.we-support-list__text AI FOR THE CONVERSATION
              li.we-support-list__item
                a.we-support-list__link(href="#")
                img.we-support-list__img(src="img/we-support-3.jpg", alt="img")
                .we-support-list__content
                  p.we-support-list__text PERSONALIZE AND RELEVANCE
              li.we-support-list__item
                a.we-support-list__link(href="#")
                img.we-support-list__img(src="img/we-support-4.jpg", alt="img")
                .we-support-list__content
                  p.we-support-list__text AUGMENTED AND VIRTUAL REALITY
              //- li.we-support-list__item
              //-   a.we-support-list__link(href="#")
              //-   img.we-support-list__img(src="img/we-support-5.jpg", alt="img")
              //-   .we-support-list__content
              //-     p.we-support-list__text AUTOMATIC FOR VEHICLES
                  

      //REVIEW
      section.review
        .container
          .review-content
            .review-top
              h2.title.review-top__title WHAT THEY SAY
              p.review-top__text <span class="review-top__text--span">It was easy to get started with AI-MAN</span> because they had the platform and the people with the skillset to perform the annotation tasks we needed.
            .review-bottom
              //- button.review-bottom__btn
              //-   svg.review-bottom__svg(width="100" height="100")
              //-     use(href="")
              p.review-bottom__name Anakin Dripwalker
              span.review-bottom__span
              p.review-bottom__info Chief Data Scient, AI Order
              //- button.review-bottom__btn
              //-   svg.review-bottom__svg(width="100" height="100")
              //-     use(href="")
      //OUR_SUPPORT
      section.our-support
        .container
            h2.title.our-support__title SUPPORTED BY
            .our-support-top
               ul.our-support-list
                li.our-support-list__item
                  a.our-support-list__link(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                li.our-support-list__item
                  a.our-support-list__link(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                li.our-support-list__item
                  a.our-support-list__link(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                li.our-support-list__item
                  a.our-support-list__link(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                //- li.our-support-list__item
                //-   a.our-support-list__link(href="#")
                //-     svg.our-support-list__svg
                          use(href="") 
                //- li.our-support-list__item
                //-   a.our-support-list__link(href="#")
                //-     svg.our-support-list__svg
                          use(href="") 
            .our-support-bottom
              ul.our-support-list
                li.our-support-list__item
                  a.our-support-list__link.our-support-list__link--shadow(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                li.our-support-list__item
                  a.our-support-list__link.our-support-list__link--shadow(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                li.our-support-list__item
                  a.our-support-list__link.our-support-list__link--shadow(href="#")
                    svg.our-support-list__svg
                      use(href="") 
                li.our-support-list__item
                  a.our-support-list__link.our-support-list__link--shadow(href="#")
                    svg.our-support-list__svg
                      use(href="")
                //- li.our-support-list__item
                //-   a.our-support-list__link.our-support-list__link--shadow(href="#")
                //-     svg.our-support-list__svg
                          use(href="")
                //- li.our-support-list__item
                //-   a.our-support-list__link.our-support-list__link--shadow(href="#")
                //-     svg.our-support-list__svg
                          use(href="")
 

    include html/footer
    script(src="js/app.min.js")

